@{
    var job = Model;
}


<div style="width: 100vw; height:100vh; position: relative; background: white">

  <div style="width: 100vw; height: 80px;top: 0px;position: relative; background: #F4F5F7">
  <div style="width: 964px; left: 600px; top: 0px; position: absolute">
  <span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">@job.Title</span>
  @* <span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word"> - Match Company Limited </span> *@
  </div>
  </div>

  @if ((bool)ViewBag.ShowButtons)
{
  <button style="width:250px;left: 450px; top: 100px; border-radius:20px;position: absolute;background: #F4F5F7; color: black; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word">View Freelancer Profile</button>
  <a asp-controller="MakeABid" asp-action="MakeABid" asp-route-JobID="@job.JobID">
  <button style="width:187px;left: 745px; top: 100px; border-radius:20px; position: absolute; background: #338573; color: white; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word">Make A Bid</button>
  </a>
}
<div style="width: 658px; margin-left:40px;margin-top:80px; height: 259px">
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Qualification:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.JobSkill<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Experience Length:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.Experience<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Location:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">Remote<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Posted Date:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.PostedDate<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Application Deadline:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.Deadline<br/></span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 40px; word-wrap: break-word">Budget:</span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 700; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">$@job.Budget<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Posted-By:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.FirstName @Model.LastName<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Freelancer Email:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.Email<br/></span>
</div>
<div style="margin-top:100px">
<div style="color: black; margin-left:40px; font-size: 24px; font-family: Poppins; font-weight: 700; line-height: 30px; word-wrap: break-word">Job description<br/></div>
<div style="width: 1243px; height: 522px; left: 40px; top: 560px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@job.Description</div>
</div>
</div>
