@{
    ViewData["Title"] = "Freelancer Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .table {
            width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
            margin-bottom: 30px;
            border-radius:100px;
        }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
           
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #f5f5f5;
        }

        .table a {
            padding: 6px 12px;
            border: 1px solid #;
            border-radius: 4px;
            background-color: #338573;
            color: #fff;
            text-decoration: none;
        }

        .table a:hover {
            background-color: #23527c;
            border-color: #23527c;
        }
    </style>
</head>
<body style ="background:#F8FAFC " >
    <a asp-controller="Dashboard" asp-action="FreelancerView" >
        <h1 style="width:187px;left: 60px; margin-top: 20px; text-align:center; border-radius:20px; position: absolute; background: #338573; color: white; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word">Client View</h1>
    </a>

    <h2 style="text-align: center; margin-top: 80px; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">My Job List</h2>
<div style="width: 1200px; margin-left:80px; background:#fff; border-radius:16px; height: auto; flex-direction: column; justify-content: space-between; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="width: 1078px; margin-left:50px; margin-top:50px; background: #F8FAFC; border-radius: 12px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="width: 340px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Title</div>
        </div>
        <div style="width: 180px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Posted Date</div>
        </div>
        <div style="width: 200px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Application Deadline</div>
        </div>
        <div style="width: 100px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Action</div>
        </div>
    </div>
    @foreach (var job in Model.Item1)
    {
        <div style="width: 1078px; margin-left:50px; background: #F8FAFC; border-radius: 12px; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="width: 340px;  height: 64px; padding: 8px; justify-content: space-between; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@job.Title</div>
            </div>
            <div style="width: 180px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@job.PostedDate</div>
            </div>
            <div style="width: 200px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@job.Deadline</div>
            </div>
            <div style="width: 100px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">
                    <a asp-controller="JobDetails" asp-action="Index" asp-route-JobID="@job.JobID" style="text-decoration: none; color: #2563EB">View</a>
                </div>
            </div>
        </div>
        <div style="width: 1078px; height: 0px; border: 1px #fff solid"></div> 
    }
</div>

    <h2 style="text-align: center; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">Job Bids</h2>
<div style="width: 1200px; margin-left:80px; height: auto; background:#fff; border-radius:16px; flex-direction: column; justify-content: space-between; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="width: 1078px; margin-left:50px; margin-top:50px; background: #F8FAFC; border-radius: 12px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="width: 200px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Freelancer Name</div>
        </div>
        <div style="width: 240px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Job Title</div>
        </div>
        <div style="width: 160px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Bid Date</div>
        </div>
        <div style="width: 160px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Bid Amount</div>
        </div>
        <div style="width: 100px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
            <div style="flex: 1 1 0; color: #94A3B8; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Action</div>
        </div>
    </div>
    @foreach (var bid in Model.Item2)
    {
        <div style="width: 1078px; margin-left:50px; background: #F8FAFC; border-radius: 12px; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="width: 200px; height: 64px; padding: 8px; justify-content: space-between; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@($"{bid.FirstName} {bid.LastName}")</div>
            </div>
            <div style="width: 240px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@bid.JobTitle</div>
            </div>
            <div style="width: 180px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">@bid.BidDate</div>
            </div>
            <div style="width: 160px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">GH₵ @bid.BidAmount</div>
            </div>
            <div style="width: 100px; height: 64px; padding: 8px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="flex: 1 1 0; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">
                    <a asp-controller="BidDetails" asp-action="Index" asp-route-BidID="@bid.BidID" style="text-decoration: none; color: #2563EB">View</a>
                </div>
            </div>
        </div>
        <div style="width: 1078px; height: 0px; border: 1px #F1F5F9 solid"></div>
    }
</div>


   <div style="width: 100vw; margin-top:100px; height: 83px; bottom: 0; position: absolute;">
            <div style="width: 100vw; height: 60px; left: 0px; bottom: 0; position: absolute; background: #338573"></div>
           <div style="width: 459.51px; height: 83px; left: 492.01px; top: 15px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">© 2023 Freelance Fusion. Designed By Group 1</div>
         </div>

</body>

</html>
