@{
    var bid = Model;

    
  }


<style>
        .bid-details-container {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            margin-left: 10px;
            margin-top: 250px;
            height: 120px;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .bid-details-container span {
            color: black;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 500;
            line-height: 40px;
            word-wrap: break-word;
        }

        .bid-message-container {
            margin-top: 20px;
            margin-left: 40px;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 30px;
            word-wrap: break-word;
        }

        .bid-message-content {
            width: 1243px;
            height: 522px;
            left: 40px;
            top: 600px;
            position: absolute;
            color: black;
            font-size: 20px;
            font-family: Poppins;
            font-weight: 300;
            line-height: 40px;
            word-wrap: break-word;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>

<body>
<div style="width: 100vw; height:100vh; position: relative; background: white">

    <div style="width: 100vw; height: 80px;top: 100px;position: relative; background: #338573">
        <div style="width: 964px; left: 600px; top: 0px; position: absolute">
            <span style="color: white; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">@bid.JobTitle</span>
        </div>
    </div>

    <div style="width:200px;left: 450px; align-items:center;top: 200px; border-radius:10px;position: absolute;background: #338573; color: black; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word">
        <a asp-controller="Profile" asp-action="Indexx" asp-route-userId="@bid.UserID" style="text-decoration:none; text-align:center;margin-left:20px; color:#fff" >View Client Profile</a>
    </div>

    @if (int.Parse(bid.BidStatus) == 0)
    {
        <!-- Your code for the 'BidStatus' being 0 -->
        <form asp-action="AcceptBid" method="post">
            <input type="hidden" name="bidId" value="@bid.BidID" />
            <input type="hidden" name="jobId" value="@bid.JobID" />
            <button type="submit" id="acceptBidButton" style="width:150px; height:50px;left: 745px; align-items:center;top: 200px; border-radius:10px;position: absolute;background: #338573; color: #fff; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 0px; word-wrap: break-word" class="btn btn-primary">Accept Bid</button>
        </form>
    }
    else if (int.Parse(bid.BidStatus) == 1)
    {
        <!-- Your code for the 'BidStatus' being 1 -->
        <div style="width:150px;left: 745px; text-align:center; align-items:center;top: 200px; border-radius:10px;position: absolute;background: #853333; color: rgb(252, 251, 251); font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word" >Bid Accepted</div>
    }
    else
    {
        <!-- Your code for other conditions -->
        <div style="width:500px;left: 745px; text-align:center; align-items:center;top: 200px; border-radius:10px;position: absolute;background: #853333; color: rgb(252, 251, 251); font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word" >Bid Has been Awarded to Another User</div>
    }

    <div class="bid-details-container">
        <span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">BidAmount:GH₵ @bid.BidAmount</span>
        <span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word; margin-left: 0px">Bid Date: @bid.BidDate</span>
    </div>
     
     <div style="width:635px; display:flex; flex-direction:column; height:220px; background:#fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border: 1px solid gray; margin-left:650px;margin-top:-140px;border-radius:10px">
        <div class="mySlides"  style="display: block;">
        <div style ="display:flex; flex-direction:row;align-items:center;margin-top:20px;margin-left:30px;">
            <div style= "width:40px; display:flex; flex-directon:row;  justify-content:center;align-items:center; height:40px;background:#334494;border-radius:30px ">
                <h4 style=" margin-top:5px; font-weight:600; font-family:Poppins; color:#fff">S</h4>
            </div>
            <h5 style="margin-top:5px; margin-left:10px;font-family:Poppins; font-weight:600;">Shahid Mujahid</h5>
            <img style = "width:30px; border-radius:10px; height:30px; margin-left:10px" src="~/images/ghana(1).png" />
            <h6 style="margin-left:10px; margin-top:5px; font-family:Poppins; font-weight:300; color:gray" >Ghana</h6>
            <img style=" margin-left:10px; width:60px; height:60px"  src="~/images/rating.png" />
            <h6 style="font-family:Poppins; font-weight:600; margin-left:10px; margin-top:8px" >4.0</h6>
        </div>
    
        <div style="margin-left:40px; margin-right:20px;">
            <div style = "display:flex; flex-direction:row">
                <img style= "width:30px; margin-left:-55px; margin-right:30px;  margin-top:5px; height:30px" onclick="plusSlides(-1)"  src="~/images/arrow-left.png" />
               <h6 style="font-family:Poppins; font-weight:400; word-wrap:break-word" >Working with this freelancer was a seamless experience. Their exceptional expertise in their field was evident through the high-quality deliverables they provided. Their professionalism and strong communication skills ensured that the project was completed efficiently, meeting all the requirements and deadlines.</h6>
               <img style= "width:30px;  margin-right:-35px; margin-top:5px; height:30px" onclick="plusSlides(1)" src="~/images/arrow-right.png" />
            </div>
            <h6 style="color:gray;font-family:Poppins;" >1 month ago</h6>
        </div>
        </div>

         <div class="mySlides"  style="display: none;">
        <div style ="display:flex; flex-direction:row;align-items:center;margin-top:20px;margin-left:30px;">
            <div style= "width:40px; display:flex; flex-directon:row;  justify-content:center;align-items:center; height:40px;background:#334494;border-radius:30px ">
                <h4 style=" margin-top:5px; font-weight:600; font-family:Poppins; color:#fff">T</h4>
            </div>
            <h5 style="margin-top:5px; margin-left:10px;font-family:Poppins; font-weight:600;">Theresa Amoah</h5>
            <img style = "width:30px; border-radius:10px; height:30px; margin-left:10px" src="~/images/ghana(1).png" />
            <h6 style="margin-left:10px; margin-top:5px; font-family:Poppins; font-weight:300; color:gray" >Ghana</h6>
            <img style=" margin-left:10px; width:60px; height:60px"  src="~/images/rating(1).png" />
            <h6 style="font-family:Poppins; font-weight:600; margin-left:10px; margin-top:8px" >5.0</h6>
        </div>
    
        <div style="margin-left:40px; margin-right:20px;">
            <div style = "display:flex; flex-direction:row">
                <img style= "width:30px; margin-left:-55px; margin-right:30px;  margin-top:5px; height:30px" onclick="plusSlides(-1)"   src="~/images/arrow-left.png" />
               <h6 style="font-family:Poppins; font-weight:400; word-wrap:break-word" >The freelancer has exhibited exceptional expertise and professionalism in their recent project. Their keen attention to detail and creative approach resulted in an outstanding final deliverable that exceeded expectations. They effectively translated the client's vision into a visually captivating design, demonstrating a deep understanding of the project requirements. </h6>
               <img style= "width:30px;  margin-right:-35px; margin-top:5px; height:30px" onclick="plusSlides(1)" src="~/images/arrow-right.png" />
            </div>
            <h6 style="color:gray;font-family:Poppins;" >2 weeks ago</h6>
        </div>
        </div>

        <div class="mySlides"  style="display: none;">
        <div style ="display:flex; flex-direction:row;align-items:center;margin-top:20px;margin-left:30px;">
            <div style= "width:40px; display:flex; flex-directon:row;  justify-content:center;align-items:center; height:40px;background:#334494;border-radius:30px ">
                <h4 style=" margin-top:5px; font-weight:600; font-family:Poppins; color:#fff">D</h4>
            </div>
            <h5 style="margin-top:5px; margin-left:10px;font-family:Poppins; font-weight:600;">Dogbatse Robert Junior</h5>
            <img style = "width:30px; border-radius:10px; height:30px; margin-left:10px" src="~/images/ghana(1).png" />
            <h6 style="margin-left:10px; margin-top:5px; font-family:Poppins; font-weight:300; color:gray" >Ghana</h6>
            <img style=" margin-left:10px; width:60px; height:60px"  src="~/images/rating(1).png" />
            <h6 style="font-family:Poppins; font-weight:600; margin-left:10px; margin-top:8px" >5.0</h6>
        </div>
    
        <div style="margin-left:40px; margin-right:20px;">
            <div style = "display:flex; flex-direction:row">
                <img style= "width:30px; margin-left:-55px; margin-right:30px;  margin-top:5px; height:30px" onclick="plusSlides(-1)"   src="~/images/arrow-left.png" />
               <h6 style="font-family:Poppins; font-weight:400; word-wrap:break-word" >I had the pleasure of collaborating with this freelancer on a recent project, and I must say that their work exceeded my expectations. Their exceptional design skills and attention to detail were evident throughout the project, resulting in a visually stunning and highly impactful end product. Their ability to incorporate feedback and make necessary adjustments quickly and efficiently made the entire process seamless and enjoyable. </h6>
               <img style= "width:30px;  margin-right:-35px; margin-top:5px; height:30px" onclick="plusSlides(1)" src="~/images/arrow-right.png" />
            </div>
            <h6 style="color:gray;font-family:Poppins;" >2 weeks ago</h6>
        </div>
        </div>

     </div>

    <div style="margin-top:20px">
        <div class="bid-message-container">Bid Message</div>
        <div class="bid-message-content">@bid.BidMessage</div>
    </div>

    @if (TempData["BidMessage"] != null)
    {
        <p style="color: red;">@TempData["BidMessage"]</p>
    }
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides((slideIndex += n));
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>

</body>