@model List<Job>


<div style="display: flex; flex-direction:column; align-items: center; ">
<div style="width: 100vw; height: 80px;top: 60px;position: relative; background: #F4F5F7">
  <div style="width: 314px; left: 626px;   color: black;position: relative; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">Create a Job</div>
  </div>
  @using (Html.BeginForm("Index", "JobListing", FormMethod.Get))
{
    <input type="text" style="margin-top:80px;width:500px; border-radius:5px" name="searchQuery" placeholder="Search by job title" />
    <button type="submit" style="width:100px; background: #338573; color:white;border-radius:5px">Search</button>
}
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
  <div style="margin-top:20px">
   @for (var i = 0; i < Model.Count; i++)
    {
      var job = Model[i]; // Define job within the loop
        <div class="job-item-@i" style=" margin-top:20px; width: 1306px; height: 135px; left: 0px; top: 12px; position: relative; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid">
        <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">@job.FirstName @job.LastName</div>
        <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">$ @job.Budget</div>
       <a asp-controller="JobDetails" asp-action="Index" asp-route-JobID="@job.JobID" style="display: inline-block; width: 174.94px; left: 1098px; top: 40px; background: #338573; border-radius: 10px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 50px; word-wrap: break-word; text-align: center; text-decoration: none;">View Details</a>


        <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">@job.Title (@job.Experience)</div>
        <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
            <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
        </div>
        <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Remote</div>
        <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
        </div>
        <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
        <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">@job.Title.Substring(0,1)</div>
        </div>
    }
    </div>
  </div> 


